<form method="post" action="/user/save">
<table>
    <tr>
        <td>firstName</td>
        <td>lastName</td>
        <td>isActive</td>
    </tr>
    <tr>
        <td><input type="text" name="firstName"></td>
        <td><input type="text" name="lastName"></td>
        <td>
            <select name="isActive">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
        </td>
    </tr>
    <button type="submit">저장</button>
</table>
</form>